.design8 {
    .decorative-line {
        width: calc(100% - 32px);
        margin: 0 auto;
        height: 1px;
        background: #3CC1FF;
        &__purple {
            background: #C9A3EE;
        }
    }
}