.design8 {
  .module3 {
    padding-bottom: 20px;
    padding-top: 18px;
    &__image {
      margin-bottom: 20px;
    }
    &__message {
      margin-bottom: 28px;
      color: var(--color-message);
    }
    .popular-names {
      margin-bottom: 40px;
    }
  }
}